.container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.info-top {
    padding: 2rem;
    color: white;
    height: 20rem;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.info-top .menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.info-top .menu a {
    text-decoration: none;
    color: white;
}

.info-pokemon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.info-pokemon .name-types {
    display: flex;
    flex-direction: column; 
    gap: .5rem;
}

.info-pokemon .name-types .name {
    text-transform: capitalize;
    margin: 0;
    font-weight: bolder;
    font-size: 1.8rem;
}

.info-pokemon .name-types .types {
    display: flex;
    list-style: none; 
    margin: 0;
    padding-left: .5em;
    gap: .5rem;
}

.info-top .info-pokemon .name-types .types .type {
    color: #fff;
    padding: .4rem 1rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.info-top .photo-pokemon {
    margin: 1rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-top .photo-pokemon .poke-img {
    width: 15rem;
    height: 13rem;
}

.info-bottom {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.info-bottom .about {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.info-bottom h3 {
    font-size: 1.4rem;
    font-weight: bolder;
}

.info-bottom .about .info-about {
    display: flex;
    justify-content: flex-start;
    height: 1.5rem;
}

.info-bottom .about .title-about {
    opacity: 0.5;
    width: 6rem;
}

.info-bottom .about .value-about {
    opacity: 0.8;
}

.info-bottom .base-stats .info-stats {
    display: flex;
    justify-content: space-between;
}

.info-bottom .base-stats .info-stats .name-stats {
    text-transform: capitalize;
    width: 9rem;
    height: 1.5rem;
    opacity: 0.5;
}

.info-bottom .base-stats .info-stats .value-stats {
    margin: 0 .5rem;

}

.info-bottom .base-stats .info-stats .status-bar {
    margin: .3rem 0; 
    margin-left: .5rem;
    width: 60%;
    height: .35rem;
    border-radius: .35rem;
    background-color: rgb(233, 233, 233);
}

.info-bottom .base-stats .info-stats .status-bar .progress-bar {
    height: 100%;
    border-radius: .35rem;
    background-color: red;
    width: 80%;
}